<!DOCTYPE html>
<html>
<head>
	<title>Fypus Home</title>
	{% load static %}
	<link href="{% static "css/styles.css" %}" rel="stylesheet">
	<link rel = "{% static "css/font-awesome-4.7.0.css" %}" href="font-awesome-4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
	<div class="list-group">
		<div class="navLogo">
			<a href="/index/"><img id = "logo" src="{% static "images/logo2.png" %}" alt="Fypus logo"></a>
		</div>
		<div class="links">
	      <a class="list-group-item" href="/Search/">Search</a>
	      <a class="list-group-item" href="/profile/">Dashboard</a>
	      <a class="list-group-item" href="/Recruit2/">Recuit</a>
	      <a class="list-group-item" href="/NewLeague/">New League</a>
	      <a class="list-group-item" href="/messages/">Message</a>
	      <a class="list-group-item" href="/help/">Help</a>
	      <a class="list-group-item" href="/login/">Login</a>
	    </div>
  	</div>
</head>
<hr noshade style="border-top: 0px; width: 100%;border-color: #D7D8D7;display: block;margin: auto;">
<body>	
	<div class = "container">
    	<h2> Log into Fypus </h2> 
  	</div>
  	<div id="form">
	    <form>
	      <p> Business Email </p>
	        <input type="email" name="businessEmail" size="20%"/>
	      <p> Password </p>
	      	<input type="Password" name="Password" size="20%"/>
	      <br> <br> <br>
	      <button id="request" type="submit" name="submit">Login</button>
	    </form>
  	</div>
</body>
</div>
</html>
	<div id="footer">
<p style="font-family: 'Abel', sans-serif; text-align: center;padding-top: 20%;">About Us&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Terms&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Policy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Privacy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Support</p>
        
  </div>

</body>
</html>