<!DOCTYPE html>
<html>
<head>
	<title>Fypus Home</title>
	{% load static %}
	<link href="{% static "css/styles.css" %}" rel="stylesheet">
	<link rel = "{% static "css/font-awesome-4.7.0.css" %}" href="font-awesome-4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <div class="list-group">
		<div class="navLogo">
			<a href="/index/"><img id = "logo" src="{% static "images/logo2.png" %}" alt="Fypus logo"></a>
		</div>
		<div class="links">
	      <a class="list-group-item" href="/Search/">Search</a>
	      <a class="list-group-item" href="/profile/">Dashboard</a>
	      <a class="list-group-item" href="/Recruit2/">Recuit</a>
	      <a class="list-group-item" href="/NewLeague/">New League</a>
	      <a class="list-group-item" href="/messages/">Message</a>
	      <a class="list-group-item" href="/help/">Help</a>
	      <a class="list-group-item" href="/login/">Login</a>
	    </div>
  	</div>
</head>
<hr noshade style="border-top: 0px; width: 100%;border-color: #D7D8D7;display: block;margin: auto;">
<body>	
	<div class = "container">
    	<h2> Recruit Members </h2> 
  	</div>
  	<!-- http://jsfiddle.net/2t9Dh/ -->
  	<div id="form">
	    <div id="fields">
	    	<input type="text" placeholder="name" class="adding" size="20%"/>
	    	<input type="email" placeholder="email" class="adding" size="20%"/>
	    </div>
	    <br>
	    <span class="recruit">
	    <input type="button" id="addField" onclick="addField();" value="Add Recruit"/>
	    <br><br><br><br><br>
	    <input type="button" id="request" name="submit" value="Recruit">
	    <script>
	    function addField(){
	    	document.getElementById('fields').innerHTML+='<br><br><input type="text" placeholder="name"/><input type="email" placeholder="email"/>';
	    }
	    </script>
	    </span>
  	</div>
</body>
</div>
</html>
	<div id="footer">
<p style="font-family: 'Abel', sans-serif; text-align: center;padding-top: 20%;">About Us&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Terms&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Policy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Privacy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Support</p>
        
  </div>

</body>
</html>